<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>native</title>
    <style>
        img{
            width:20rem;
            height: 20rem;
            margin: auto;
        }
        body{
            text-align: center;
            width: 100%;
        }
    </style>
</head>
<body>
<h4>扫码模式二</h4>
<img src="http://paysdk.weixin.qq.com/example/qrcode.php?data=<?php echo urlencode($url);?>"/>
</body>
</html>